<div class="card mb-5 mb-8 ps-7 pe-7 py-3 pb-3" style="
height: 500px;">
  <button class="btn btn-sm btn-primary w-50 m-4 ms-auto me-auto mt-4 mb-6 fs-4"
          placement="top"
          [ngbTooltip]="'Haz click para buscar una criptomoneda'"
          (click)="openAssetSearchModal()">
          <app-keenicon type="outline" name="magnifier" class="text-white fs-4"></app-keenicon>
          Buscar Criptomoneda
  </button>
  <app-tab-group>
    <app-tab title="Análisis Técnico">
      <app-technical-analysis></app-technical-analysis>
    </app-tab>
    <app-tab title="Análisis Fundamental">
      <app-fundamental-analysis></app-fundamental-analysis>
    </app-tab>
  </app-tab-group>
</div>
